<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="digital.css">
</head>
<body>
<video class="bg-video" autoplay loop src="./bgvideo.mp4"></video>
<div class="container">

    <div class="card">
        <h1>Digital Clock</h1>

    <div class="clock">
        <span class="time-element" id="hour">00</span>
        <span class="colon-element">:</span>
        <span class="time-element" id="minute">00</span>
        <span class="colon-element">:</span>
        <span class="time-element" id="second">00</span>

    </div>  </div>
</div>

<script src="digital.js"></script>
</body>
</html>